body {
    background-color: #f0f8ff; /* Light blue background color */
}

.navbar {
    background-color: #add8e6; /* Light blue navbar color */
}

.card-img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #add8e6; /* Light blue footer color */
    text-align: center;
    padding: 5px 0;
    bottom: 0;
    width: 99%;
    margin: 10px;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.additional-info {
    border-left: 2px solid #ccc;
    padding-left: 20px;
}